.header {
  // box model
  padding: 2rem 1rem;
  padding-bottom: 0.5rem;

  @include atDesktopS {
    // box model
    margin: 0 auto;
    max-width: 1260px;
    padding-bottom: 15px;

    // border
    border-bottom: 1px solid $grey;
  }
}

.header__top {
  @include atDesktopS {
    // box model
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
}

.header__logo {
  // box model
  margin: 0 auto;
  margin-bottom: 1.5rem;
  width: 9rem;

  @include atDesktopS {
    // box model
    width: 160px;
    margin: 0;
  }
}

.header__search {
  // positioning
  position: relative;

  // box model
  height: 2rem;

  @include atDesktopS {
    flex-basis: 500px;
  }
}
