.main-nav {
  @include atDesktopS {
    // box model
    display: flex;
    justify-content: flex-end;
  }
}

.main-nav__item {
  // box model
  padding: 5px;

  // typography
  text-align: center;
}

.main-nav__link {
  // positioning
  position: relative;

  // box model
  display: inline-block;
  vertical-align: top;

  // typography
  color: $dark;
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;

  @include atDesktopS {
    // typography
    // font-size: 2rem;
    margin-left: 50px;
  }

  &:hover {
    // typography
    color: $red;
  }
}

.main-nav__link--current {
  // typography
  font-weight: 700;

  &:hover {
    color: $dark;
  }

  &::before {
    content: '';

    // positioning
    position: absolute;
    top: calc(50% - 7px);
    left: -20px;

    // box model
    display: block;
    height: 14px;
    width: 14px;

    // visual
    background-color: $yellow;
    border-radius: 50%;

    @include atDesktopS {
      // positioning
      top: 40px;
      left: calc(50% - 12px);

      // box model
      height: 24px;
      width: 24px;
    }
  }
}
